<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Habit Tracker</title>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/style.css" />
  <script defer src="../static/js/main.js"></script>
</head>
<body>
  <h1>
    Habit Tracker
    <button id="theme-toggle">🌙 Dark</button>
  </h1>

  <form id="add-form">
    <input type="text" id="name" placeholder="New habit name" required />
    <button type="submit">Add</button>
  </form>

  <ul id="list"></ul>

</body>
</html>
